<body>
    @using (Html.BeginForm())
    {
        <div>ID de categoría:</div>
        <div><input type="text" name="id" /></div>
        <div><input type="submit" value="Buscar" /></div>
    }
</body>